.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.gg-btn {
  background-color: #457389;
  color: white;
  border: 0;
  padding: 1.2em 2.5em;
  text-transform: uppercase;
  font-size: 11px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 1em;
  letter-spacing: 1px; }
  .gg-btn:hover, .gg-btn:focus .gg-btn:active {
    opacity: .8; }
  .gg-btn--secondary {
    background-color: #9fa617; }
  .gg-btn--tertiary {
    background-color: #e37f1c; }
  .gg-btn--tertiaryDark {
    background-color: #97341b; }

.title-small {
  color: #457389;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: bold; }
  .title-small--secondary {
    color: #9fa617; }
  .title-small--tertiary {
    color: #e37f1c; }
  .title-small--tertiaryDark {
    color: #97341b; }

.title-medium {
  font-size: 1.25em;
  font-weight: bold; }

.light-text {
  color: #fff; }

.display-text {
  margin: 30px; }

.homepage-section {
  margin-bottom: 3em; }

.what-we-do {
  margin: 3em;
  padding: 2em 15em 3em;
  border-bottom: 1px solid #aaa; }

.calls-to-action .call-to-action {
  width: 33%;
  min-width: 300px;
  padding: 2em; }
  .calls-to-action .call-to-action h2 {
    margin: .7em; }
  .calls-to-action .call-to-action .icon-large {
    width: auto;
    height: 90px;
    margin-bottom: 1.5em; }

.join-nonprofits .img-bg-cover {
  display: flex;
  justify-content: flex-end;
  background-image: url(../../img/photoBackgrounds/background1.png); }

.join-nonprofits .text-block {
  width: 50%;
  margin: 9em 2em;
  color: #fff; }

.join-companies .logos-grid-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  min-width: 300px;
  background-color: #aabfc9;
  padding: 3em 4em;
  margin: 2px; }
  .join-companies .logos-grid-logo img {
    max-width: 60%;
    max-height: 3em; }

.disasters .img-bg-cover {
  background-image: url(../../img/photoBackgrounds/background2.png);
  height: 55em; }
